name: CI/CD workflow

on:
  push:
    branches:
      - main

jobs:
  pre-commit-scans:
    runs-on: ubuntu-latest

    steps:
      - name: Code checkout
        uses: actions/checkout@v3

      - name: Java setup
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Add google formatter
        run: mvn com.spotify.fmt:fmt-maven-plugin:format

      - name: Check google formatter
        run: mvn com.spotify.fmt:fmt-maven-plugin:check
    
